<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-light border-bottom shadow-sm">
    <div class="container">
        <nav class="my-2 my-md-0 mr-md-3">
            <img src="/assets/ds-dark.svg" alt="DevSuperior" width="120" />
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" routerLink="/dashboard">Dashboard</a>
                </li>
            </ul>
        </nav>
    </div>
</div>